body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(25,1,61);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid white;
    padding: 8px;
    border-radius: 6px;
}

.title {
    background: url('/images/webimages/bg1.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 60px;
}

.title h1 {
    font-size: 2.5em;
    font-weight: 600;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    text-align: center;
    padding: 20px;
}
.title h4{
    font-weight: 500;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 2em;
}

.section h2 {
    font-size: 2em;
    font-weight: 400;
}

.section h3{
    font-size: 1.7em;
    font-weight: 400;
}

.section b{
    font-weight: 600 !important;
}

p a{
    text-decoration: underline;
    color: rgb(25, 1, 61);
}

.section p {
    font-size: 1.2em;
    font-weight: 200;
}

@media only screen and (max-width: 600px) {
    .title h1 {
        font-size: 2em;
    }

    .title h4 {
        font-size: 1em;
    }

    .section {
        padding: 10px;
    }

    .section h2 {
        font-size: 1.5em;
    }

    .section p {
        font-size: 1em;
    }
}
