@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

p, ul {
  font-size: 18px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  color: #2b6cb0;
  text-decoration: underline;
}